[user]
	name = SatoShun
	email = shun.sato1@gmail.com
[core]
    excludesfile = ~/.gitignore
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
    diff = auto
    status = auto
    branch = auto
    grep = auto
    ui = auto
[push]
    default = current
[alias]
    st = stash
    co = checkout
    ci = commit -v
    di = diff
    br = branch -v -v
    puhs = push
    psuh = push
    pus = push
    puh = push
    pl = !git pull && git submodule update --init
    plc = !git pull origin $current_branch
    com = checkout master
    both-added-head = !sh ~/SkyDrive/repository/git/both_added_head.sh
    pp = git
    cm = commit -m
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    amend = commit --amend -C HEAD
    in = init --separate-git-dir
    r = reset
    r1 = reset HEAD^
    r2 = reset HEAD^^
    rh = reset --hard
    rh1 = reset HEAD^ --hard
    rh2 = reset HEAD^^ --hard
    ls = log --oneline --decorate
    lh = log --graph
    la = !git lh --date-order --all 2> /dev/null
    lb = log --graph --simplify-by-decoration
    lba = !git lb --all
    h = !git --no-pager log --graph -n 15
    a = !git --no-pager la -n 15
    sp = stash pop
    fix = commit --amend
[rerere]
    enabled = true
[branch]
    autosetuprebase = always
[commit]
	cleanup = whitespace
[mergetool "sublime"]
	cmd = sub -w $MERGED
	trustExitCode = false
[merge]
	tool = sublime
